<form role="form">
    <div class="form-group">
        <label for="inputLoginName">Login name</label>
        <input type="text" class="form-control" id="inputLoginName" placeholder="Enter login name">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="text" class="form-control" id="inputPassword" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-default">Submit</submit>
</form>

