<img class="col-xs-2" src="images/placeholder.png">
<div class="col-xs-2"><%= name %></div>
<div class="col-xs-2"><%= activity %></div>
<div class="col-xs-2"><%= time %></div>
<div class="col-xs-2"><%= date %></div>
<button type="submit" class="btn btn-default">Join</button>
