<form id="addEvent" role="form">
    <div id="date-form-group" class="form-group">
        <label for="inputDate">Date</label>
        <input type="date" class="form-control">
    </div>
    <div id="time-form-group" class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" value="morning">Morning</label>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="afternoon">Afternoon</label>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="night">Night</label>
        </label>
    </div>
    <div class="form-group activity-form-group">
        <div class="btn-group">
            <button id="activity-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Pick an activity <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a> Dine out</a></li>
                <li><a>Hangout</a></li>
                <li><a>Coffee</a></li>
                <li><a>Whatever</a></li>
            </ul>
        </div>
    </div>
    <button id="add" type="submit" class="btn btn-default">Submit</button>
</form>
<p>hhihih</P>

