<p>Login</p>

<h1>hihihi</h1>
<div id="main">
    <h1>You're ready to use Parse!</h1>
    <div id="fb-root"></div>
    <button id="fb_button">Facebook login</button>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>

    <div id="status">
    </div>